table {
  display: flex;
  flex-flow: column;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0%;
}

/* div with container class 4px top padding */
.container {
  padding-top: 4pt;
}
thead {
  flex: 0 0 auto;
}

tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}

/* make h1 and h2 smaller*/

h1,
h2 {
  font-size: 1.5em;
  /* Adjust this value as needed */
}
/* 
style for class popupbook 
this is for a div that will be used as a popup, it needs to be full screen width on smaller devices
*/
.popupbook {
  width: 45%;
}

@media (max-width: 600px) {
  .popupbook {
    width: 100%;
  }
}
